.result-table-container {
    display: flex;
    justify-content: space-between; 
}

.result-table, .result-table-Landing {
    margin: 1rem;
    width: 90%; 
    margin-right: 10px; 
}

.result-table th, .result-table td,
.result-table-Landing th, .result-table-Landing td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

.result-table th, .result-table-Landing th {
    background-color: #f2f2f2;
    text-align: center;
}




