 /*styles the form*/
 .input-form {
  display: flex;
  padding: 1rem;
}

.input-row{
  margin-right: 1rem;
}

/*--------------------------------------------------------*/

  /*map*/
  #map {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc; /* Agrega un borde para distinguir el mapa */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
    margin-top: 10px; /* Agrega margen superior para separarlo de otros elementos */
  }

/*Hader style*/
.header{
  background-color: #dcdfec;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo{
  margin-right: auto;
  width: 100px;
  height: auto;
  display: inline-block;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav{
  margin: 1rem;
  float: right;
}

.nav ul li{
      display: inline-block;
      margin-right: 1rem;
}

h1{
 margin: 1rem;
}

.select{
margin-right: 1rem;
 float: right;
 top: 20px; /* Ajusta este valor para controlar la distancia desde el borde superior */
 right: 20px 
}

/***************STYLES TABLES*************************/

.table {
  border-collapse: collapse;
  width: 5%;
}

.table th, .table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*div generate*/
.generate{
 padding: 1rem;
}

/************STYLES FORM CONTACT****************************************/

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background: linear-gradient(-45deg, #3b4e4e, #2a705cf2, #152f38, #0f8267d3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.user-box {
  position: relative;
  text-align: center; 
}
.user-box input {
  padding: 10px 0;
  font-size: 16px;
  color: #f9f8f8;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.user-box label {
  position: absolute;
  padding: 10px 0;
  font-size: 16px;
  color: #26272d;
  pointer-events: none;
  transition: .5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1c1d3c;
  font-size: 12px;
}
.button {
  font-weight: 600;
  display: inline-block;
  position: relative;
  border: 3px solid #fff;
  padding: 15px 60px;
  font-size: 16px;
}

.button::after, .button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: .5s;
}

button::after {
  top: -3px;
  left: -3px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

button::before {
  bottom: -3px;
  right: -3px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

button:hover {
  color: #205992;
  cursor: pointer;
}

button:hover::after,
button:hover::before {
  width: calc(50% + 3px);
  height: calc(50% + 3px);
  border-color: #123b63;
}

/***********************index******************/

.page {
  padding: 40px;
   
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#splash {
  background: #3933e9;
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}

#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}

#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}

#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%,100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translate(-50%,110%);
  }
  30% {
    transform: translate(-50%,50%);
  }
  100% {
    transform: translate(-50%,0%);
  }
}

@keyframes splash {
  0% {
    transform: translate(0%,0%);
  }
  50% {
    transform: translate(0%,0%);
  }
  100% {
    transform: translate(0%,-100%);
  }
}
